/**
 * WC Carta del Merito - CSS
 * @author ilGhera
 * @package wc-carta-del-merito/css
 * @version 0.9.2
 */

input#wc-codice-carta-del-merito {
	display: block;
	margin-top: 0.5rem;
	width: 100%;
}

label[for="wc-codice-carta-del-merito"] {
	text-transform: uppercase;
	display: block;
}
